<body>
  <div class="logo">
    <div><ion-icon name="person"></ion-icon></div>
    <div class="imagen"> </div>
    <div class="tit1">Create Account</div>
  </div>

  <div class="login">
    <ion-item>
    <ion-label position="floating" class="custom">Nickname</ion-label>
    <ion-input placeholder="Nickname" class="custom"></ion-input>
  </ion-item>
  </div>

  <div class="login">
    <ion-item>
    <ion-label position="floating" class="custom">Your Email</ion-label>
    <ion-input placeholder="Your Email" class="custom"></ion-input>
  </ion-item>
  </div>

  <div class="password">
    <ion-item>
    <ion-label position="floating" class="custom">Your Password</ion-label>
    <ion-input placeholder="Your Password" class="custom" type="password" ></ion-input>
  </ion-item>
  </div>

  <div class="password">
    <ion-item>
    <ion-label position="floating" class="custom">Confirm Password</ion-label>
    <ion-input placeholder="Confirm Password" class="custom" type="password" ></ion-input>
  </ion-item>
  </div>

  <div class="a"><ion-button class="b1" size="small" fill="clear" href=""><ion-icon name="arrow-forward-circle-sharp"></ion-icon></ion-button></div>

</body>
