body{
    background-color: #100F1F;
    display: flex;
    flex-direction: column;
}

.logo{
  display: flex;
  margin: 1rem;
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.logo > div > ion-icon{
    display: flex;
    background-color: #F4F3F8;
    width: 3rem;
    height: 4rem;
    padding: 1.1875rem 1.5625rem 1.1875rem 1.625rem;
    border-radius: 6rem;
    background: #FAF4E6;
    margin-bottom: 1.5rem;
}


.tit1{
    color: #FFF;
    text-align: center;
    font-family: Lalezar;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.login > ion-item{
    --background: #100F1F;
    color: white;
    margin: 1rem;
    margin-top: 1.8rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    border: 1px solid white;
    border-radius: 2rem;
}

.password > ion-item{
    --background: #100F1F;
    color: white;
    margin: 1rem;
    margin-top: 1.8rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    border: 1px solid white;
    border-radius: 2rem;
}

.a{
    display: flex;
    align-items:center ;
    justify-content: center;
}

.b1{
    display: flex;
    padding: 0.625rem;
    margin-top: 1rem;
    color: #FFF;
    font-size: 4rem;
}