<<<<<<< HEAD
ion-content{
  --background: #100F1F;
}

.grid1{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid2{
  position: absolute;
  top: 33%;
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid3{
  position: absolute;
  top: 66%;
  width: 100%;
  height: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
=======
body{
  background-color: #100F1F;
  display: flex;
  flex-direction: column;
>>>>>>> ab4daff3e2f753a21f6b1128f34422708fd95be1
}

.logo{
  display: flex;
<<<<<<< HEAD
  align-content: center;
  background-color: #FFF;
  width: 7rem;
  height: 7rem;
  padding: 1.3rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  margin-top: 3.5rem;
=======
  margin: 1rem;
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
}

.cuchara{
  display: flex;
  width: 6.25rem;
  height: 6.25rem;
  padding: 1.1875rem 1.5625rem 1.1875rem 1.625rem;
  border-radius: 3.125rem;
  background: #FAF4E6;
  margin-bottom: 1.5rem;


  
}

.cuchara>img{
  width: 4rem;
>>>>>>> ab4daff3e2f753a21f6b1128f34422708fd95be1
}

.tit1{
  color: #FFF;
  text-align: center;
  font-family: Lalezar;
  font-size: 3.375rem;
  font-style: normal;
<<<<<<< HEAD
  font-weight: 800;
=======
  font-weight: 400;
>>>>>>> ab4daff3e2f753a21f6b1128f34422708fd95be1
  line-height: normal;
}

.tit2{
  color: #F4F3F8;
  text-align: center;
  font-family: Chenla;
  font-size: 1.125rem;
  font-style: normal;
<<<<<<< HEAD
  font-weight: 300;
  line-height: normal;
}


.login{
=======
  font-weight: 400;
  line-height: normal;
}

.a{
>>>>>>> ab4daff3e2f753a21f6b1128f34422708fd95be1
  display: flex;
  align-items:center ;
  justify-content: center;
}

<<<<<<< HEAD
.signup{
=======
.b{
>>>>>>> ab4daff3e2f753a21f6b1128f34422708fd95be1
  display: flex;
  align-items:center ;
  justify-content: center;
}

.b1{
  display: flex;
  width: 14.75rem;
  height: 3.75rem;
  padding: 0.625rem;
  margin-top: 8rem;
  margin-right: 5rem;
  margin-left: 5rem;
  border-radius: 2.5rem;
  background: #F24B4B;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Lalezar;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 800;line-height: normal;
}

.b2{
  display: flex;
  width: 14.75rem;
  height: 3.75rem;
  padding: 0.625rem;
  margin-top: 1.7rem;
  margin-right: 5rem;
  margin-left: 5rem;
  border-radius: 2.5rem;
  background: #FFF;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  font-family: Lalezar;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 800;line-height: normal;
  margin-bottom: 5rem;
}

.c{
<<<<<<< HEAD
  margin-top: 5rem;
=======
>>>>>>> ab4daff3e2f753a21f6b1128f34422708fd95be1
  display: flex;
  align-items:center ;
  justify-content: center;
}